* {
  border: 2px solid rgb(255, 255, 255);
}

.container {
  margin: auto;
  max-width: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: 200px;
  font-size: 1.5rem;
}

.header {
  grid-row: 1;
  grid-column: 1/5;
  background-color: lightseagreen;
}

.sidebar {
  grid-row: 2/4;
  grid-column: 4;
  background-color: aqua;
}

.box1 {
  grid-row: 2;
  grid-column: 1;
  background-color: cadetblue;
}
.box2 {
  grid-row: 2;
  grid-column: 2;
  background-color: turquoise;
}
.box3 {
  grid-row: 2;
  grid-column: 3;
  background-color: turquoise;
}

.main {
  grid-column: 1/4;
  grid-row: 3;
  background-color: skyblue;
}

.footer {
  grid-column: 1/5;
  grid-row: 4;
  background-color: teal;
}
